<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>昆烟移动5G下载</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
	<style type="text/css">
		*{margin:0; padding:0; border:none;}
		.btn{margin:30px 0; text-align:center; position:relative; float:left; width:50%;}
		.btn img{height:38px;}
	</style>
</head>
<body style="background-color:#fff;">
	<img src="banner.jpg" style="width:100%; height:auto;">
	<div class="btn">
		<a href="itms-services://?action=download-manifest&url=https://gitee.com/Secrete/i-os---zzcj/blob/zc/kyyd.plist">
			<img src="ios.png">
		</a>
	</div>
	<div >
	<div style="margin-top:30px; color:#333; font-size:14px; line-height:24px; padding:0 20px; text-indent:2em; text-align:justify;">
		<p style="color:red;">注意：如果多次安装不成功，请先卸载原有版本，再进行安装!</p>
		<p><font style="font-weight:bold;">苹果手机 : </font>【设置→通用→描述文件(设备管理)→选择厂商→点击信任】。</p>
		<p><font style="font-weight:bold;">安卓手机 : </font>安装后需进行权限设置，请点“允许访问”。</p>
	</div>
</body> 
</html>


 
